.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logoContainer {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}

.logo {
  width: 40%;
  height: 40%;
}

.logoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: green;
}

.navContainer{
  justify-self: center;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navLink {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  padding: 0.5rem;
}

.navLink:hover {
  color: #007bff;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.searchBar {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

.searchButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0062cc;
}

.avatar {
  justify-self: flex-end;
}
