.course-list {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th,
td {
    padding: 1rem;
    text-align: left;
}

th {
    background-color: #eee;
    font-weight: bold;
    font-size: 1.2rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.course-row {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.course-row:hover {
    background-color: #eee;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.btn-add {
    background-color: #66bb6a;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 2rem 0;
    transition: background-color 0.3s ease-in-out;
}

.btn-add:hover {
    background-color: #43a047;
}

.btn-update,
.btn-delete {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-update:hover {
    background-color: #e53935;
}

.btn-delete:hover {
    background-color: #c62828;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: cester;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    table {
        width: 100%;
    }

    th,
    td {
        font-size: 0.9rem;
    }

    .btn-add {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }

    .btn-update,
    .btn-delete {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
}